In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [2]:
# Creating a Series by passing a list of values, letting pandas create a default integer index:
# Checkout http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro for more docs

s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# DataFrame(data: [[Type]], index=, columns=[Str])
# more here https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01  0.021696  0.172786 -0.614159 -0.614783
2013-01-02 -0.451667 -0.643333 -2.112070 -0.520987
2013-01-03  0.229511  0.133561 -1.112563 -1.338413
2013-01-04  0.261566  0.487384  0.567386 -0.306849
2013-01-05 -0.681457  1.583675  0.479174 -0.586126
2013-01-06 -0.724239  1.310066  0.577456 -0.512479

In [11]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.

# dictionaries of [ColumnTitle: Series, or Series-Like]
dict = { 
    'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
    'D' : np.array([3] * 4,dtype='int32'),
    'E' : pd.Categorical(["test","train","test","train"]),
    'F' : 'foo' 
}

df2 = pd.DataFrame(dict)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
# Datatypes used in df2

df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
# hit tab after the dot

df2.

In [14]:
df.head(2)

                   A         B         C         D
2013-01-01  0.021696  0.172786 -0.614159 -0.614783
2013-01-02 -0.451667 -0.643333 -2.112070 -0.520987