In [2]:
import pandas as pd

df = pd.read_csv('datasets/titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
def prob(focus, total_outcome):
    return focus / total_outcome

# To get the conditional probability
def conditional_prob(subset_count,event_count,sample_space):
    subset_prob = subset_count/ sample_space
    event_prob = event_count / sample_space
    conditional_p = subset_prob / event_prob
    return conditional_p

# To get the percentage of the conditional probability
def conditional_prob_percentage(cond_prob):
    percentage = cond_prob * 100
    return '{:.2f}% chance of occuring'.format(percentage)

In [43]:
# Given that someone is in first class, what are the chances they survived?

df_count = len(df)

first_class_df = df[df.Pclass == 1]
first_class_count = len(first_class_df)

first_class_survived_df = first_class_df[first_class_df.Survived == 1]
first_class_survived_count = len(first_class_survived_df)

condi_prob = conditional_prob(first_class_survived_count, first_class_count, df_count)
conditional_prob_percentage(condi_prob)

'62.96% chance of occuring'

In [44]:
# Given that a passenger paid nothing, what is the probability that you survived?

df_count = len(df)

free_ticket_df = df[df.Fare == 0]
free_ticket_count = len(free_ticket_df)

free_ticket_survived_df = free_ticket_df[free_ticket_df.Survived == 1]
free_ticket_survived_count = len(free_ticket_survived_df)

condi_prob = conditional_prob(free_ticket_survived_count, free_ticket_count, df_count)
conditional_prob_percentage(condi_prob)

'6.67% chance of occuring'

In [45]:
# Given a passenger embarked on SouthHampton, what is the probability that he/she is young <12

df_count = len(df)

embarked_south_hampton_df = df[df.Embarked == 'S']
embarked_south_hampton_count = len(embarked_south_hampton_df)

embarked_south_hampton_young_df = embarked_south_hampton_df[embarked_south_hampton_df.Age < 12]
embarked_south_hampton_young_count = len(embarked_south_hampton_young_df)

condi_prob = conditional_prob(embarked_south_hampton_young_count, embarked_south_hampton_count, df_count)
conditional_prob_percentage(condi_prob)

'8.39% chance of occuring'

In [46]:
# Given that someone is older than 18, what are the chances they survived?

df_count = len(df)

adult_df = df[df.Age >= 18]
adult_count = len(adult_df)

adult_survivors_df = adult_df[adult_df.Survived == 1]
adult_survivors_count = len(adult_survivors_df)

condi_prob = conditional_prob(adult_survivors_count, adult_count, df_count)
conditional_prob_percentage(condi_prob)

'38.10% chance of occuring'

In [59]:
# Given that someone is a minor, what was the probability they paid less than $100?

df_count = len(df)

minor_df = df[df.Age < 18]
minor_count = len(minor_df)

minor_100_df = minor_df[minor_df.Fare < 100]
minor_100_count = len(minor_100_df)

condi_prob = conditional_prob(minor_100_count, minor_count, df_count)
conditional_prob_percentage(condi_prob)

'93.81% chance of occuring'