In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [36]:
values = [
    "#!REF",
    "2",
    "ERROR",
    2,
    "2.2",
    2.4,
    np.nan
]

def only_numbers(value):
    try:
        return int(float(value))
    except ValueError:
        return np.nan
    
validated_values = list(map(only_numbers, values))
dropped_series = pd.Series(validated_values).dropna().astype('int64')
dropped_series

names = ['Erick', 'Eh', 'Hi', 'Lol', 'idk', 'brb', 'yolo']
df = pd.DataFrame({'Names': names, 'Ages': values})
df.Ages = df.Ages.apply(only_numbers)
df.dropna(axis=0, how='any', subset=['Ages'], inplace=True)
df.Ages = df.Ages.astype('int32')

df

  Names  Ages
1    Eh     2
3   Lol     2
4   idk     2
5   brb     2

In [37]:
df.Ages.mean()

2.0