In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

# Please dont change this--otherwise, you'll get different results from everyone else!
np.random.seed(1547)

DATASET_FOLDER = 'datasets/SA Feedback Surveys_FINAL'

# Intialize df from 2017

In [2]:
# get df for 2017
df_2017 = pd.read_csv(DATASET_FOLDER + '/2017/Student Feedback Surveys-Superview.csv')
df_2017.head(1)

    ID       Location           Track    Week Rating (Num) Schedule Pacing
0  134  San Francisco  Apps, Explorer  Week 1            3      Just right

In [3]:
# new dataframe series=["id", "year", "location", "track", "week", "rating": categorical, "pace": categorical]
# set the index of the df
df = pd.DataFrame(index=df_2017.ID)
df.index.rename("id", inplace=True)

In [14]:
# set series from the df_2017 to the df
df['year'] = 2017

# location
df['location'] = df_2017.Location

# track
df['track'] = df_2017.Track

# week
def to_integer(value):
    return int(float(value))

def get_int_from_week(value):
    return to_integer(value[-1])

df['week'] = df_2017.Week.apply(get_int_from_week)

# rating
df['rating'] = pd.Series(df_2017['Rating (Num)'], dtype="category")

# pace
df['pace'] = pd.Series(df_2017['Schedule Pacing'], dtype="category")

In [5]:
df.head()

     year       location            track  week rating               pace
id
134  2017        Oakland             Apps   1.0      8  A little too fast
36   2017    Santa Clara            Games   3.0      6       Way too slow
117  2017        Oakland             Apps   1.0      8  A little too fast
253  2017  New York City   Apps, Explorer   1.0      8  A little too fast
350  2017    Santa Clara  Games, Explorer   3.0      9         Just right

In [15]:
df.dtypes

year           int64
location      object
track         object
week         float64
rating      category
pace        category
dtype: object

# Collecting all CSVs from the 2016 folder

In [7]:
# collect all filenames
from os import walk
import re

DATASET_2016_FOLDER = DATASET_FOLDER + '/2016'

filenames = []
for (dirpath, dirnames, f) in walk(DATASET_2016_FOLDER):
    filenames.extend(f)
    break

# create empty df
df_2016 = pd.DataFrame([], columns=["pace", "rating", "track", "location", "week"])

for a_filename in filenames:
    
    # collect week, location
    m = re.search('Anon Week (\d) Feedback - (.*)\.csv', a_filename)
    if m is None:
        continue
        
    week_number = m.group(1)
    location_title = m.group(2)
    
    # read csv (rating, pace, track?) and append series to the df_2016
    a_df = pd.read_csv(DATASET_2016_FOLDER + '/' + a_filename)
    
    to_append = pd.DataFrame()
    
    try:
        to_append['track'] = a_df['How well is the schedule paced??']
        # display("Track: OK")
    except KeyError:
        # display("Track: error")
        to_append['track'] = np.nan
        
    try:
        to_append['rating'] = a_df['How would you rate your overall satisfaction with the Summer Academy this week?']
        # display("Rating: OK")
    except KeyError:
        # display("Rating: error")
        to_append['rating'] = np.nan
    
    try:
        to_append['pace'] = a_df['How well is the schedule paced?']
        # display("Track: OK")
    except KeyError:
        # display("Track: error")
        to_append['pace'] = np.nan
        
    to_append['week'] = week_number
    to_append['location'] = location_title
        
    df_2016 = df_2016.append(to_append, ignore_index=True, sort=False)
    
df_2016['year'] = 2016
df_2016.head(1)

  pace rating track location week  year
0    3      3   NaN   Taipei    7  2016

In [8]:
df_2016.pace.value_counts()

3        430
4        163
2         44
5         31
3         20
4         10
1          6
2          4
5          2
#REF!      1
Name: pace, dtype: int64

# Format the 2018 df to match the desired data types

In [9]:
df_2016.week

0      7
1      7
2      7
3      7
4      7
5      7
6      7
7      7
8      7
9      7
10     7
11     6
12     6
13     6
14     6
15     6
16     6
17     6
18     6
19     6
20     6
21     6
22     6
23     6
24     1
25     1
26     1
27     1
28     1
29     1
      ..
897    3
898    3
899    3
900    3
901    3
902    3
903    3
904    3
905    3
906    3
907    3
908    3
909    3
910    3
911    3
912    3
913    3
914    3
915    3
916    3
917    3
918    3
919    3
920    3
921    3
922    3
923    3
924    3
925    3
926    3
Name: week, Length: 927, dtype: object

In [10]:
# Week
df_2016.week = df_2016.week.apply(to_integer)

# rating
df_2016.rating = df_2016.rating.astype('category')

# pace
def pace_from_ints_to_strings(value):
    if value is np.nan:
        return np.nan
    
    if value is not int or int(value) < 1 or int(value) > 5:
        return np.nan
    
    int_value = int(value)
    
    if int_value == 1:
        return "Way too slow"
    elif int_value == 2:
        return "A little too slow"
    elif int_value == 3:
        return "Just right"
    elif int_value == 4:
        return "A little too fast"
    elif int_value == 5:
        return "Way too fast"
        
df_2016.pace = df_2016.pace.apply(pace_from_ints_to_strings).astype('category')

df_2016.dtypes

pace        category
rating      category
track         object
location      object
week           int64
year           int64
dtype: object

# Join two dfs

In [11]:
df.append(df_2016, ignore_index=True, sort=False)

      year       location            track  week rating               pace
0     2017        Oakland             Apps   1.0      8  A little too fast
1     2017    Santa Clara            Games   3.0      6       Way too slow
2     2017        Oakland             Apps   1.0      8  A little too fast
3     2017  New York City   Apps, Explorer   1.0      8  A little too fast
4     2017    Santa Clara  Games, Explorer   3.0      9         Just right
5     2017        Chicago             Apps   1.0      6  A little too slow
6     2017  San Francisco   Apps, Explorer   2.0      6         Just right
7     2017    Santa Clara             Apps   2.0      7  A little too fast
8     2017  San Francisco   Apps, Explorer   1.0      8       Way too fast
9     2017    Santa Clara   Apps, Explorer   1.0      8         Just right
10    2017  San Francisco               VR   2.0      8  A little too fast
11    2017  San Francisco   Apps, Explorer   2.0      8         Just right
12    2017  New York City             Apps   1.0      8         Just right
13    2017        Chicago   Apps, Explorer   2.0      9  A little too fast
14    2017  San Francisco               VR   2.0      9  A little too slow
15    2017    Santa Clara             Apps   2.0      9         Just right
16    2017  San Francisco            Games   2.0      9         Just right
17    2017   Redwood City             Apps   3.0      9         Just right
18    2017  New York City             Apps   1.0     10         Just right
19    2017        Oakland   Apps, Explorer   3.0      7         Just right
20    2017    Santa Clara             Apps   3.0      6         Just right
21    2017  San Francisco             Apps   3.0      6  A little too fast
22    2017    Los Angeles             Apps   1.0      7  A little too fast
23    2017        Chicago             Apps   1.0      7  A little too fast
24    2017        Oakland             Apps   2.0      7  A little too slow
25    2017   Redwood City             Apps   3.0      7         Just right
26    2017  Washington DC             Apps   2.0      7       Way too fast
27    2017  Washington DC             Apps   2.0      8  A little too fast
28    2017  New York City             Apps   1.0      8  A little too fast
29    2017  New York City             Apps   1.0      8         Just right
...    ...            ...              ...   ...    ...                ...
2350  2016             SV              NaN   3.0      3                NaN
2351  2016             SV              NaN   3.0      4                NaN
2352  2016             SV              NaN   3.0      3                NaN
2353  2016             SV              NaN   3.0      3                NaN
2354  2016             SV              NaN   3.0      5                NaN
2355  2016             SV              NaN   3.0      5                NaN
2356  2016             SV              NaN   3.0      4                NaN
2357  2016             SV              NaN   3.0      5                NaN
2358  2016             SV              NaN   3.0      5                NaN
2359  2016             SV              NaN   3.0      4                NaN
2360  2016             SV              NaN   3.0      5                NaN
2361  2016             SV              NaN   3.0      5                NaN
2362  2016             SV              NaN   3.0      5                NaN
2363  2016             SV              NaN   3.0      3                NaN
2364  2016             SV              NaN   3.0      3                NaN
2365  2016             SV              NaN   3.0      4                NaN
2366  2016             SV              NaN   3.0      4                NaN
2367  2016             SV              NaN   3.0      4                NaN
2368  2016             SV              NaN   3.0      4                NaN
2369  2016             SV              NaN   3.0      4                NaN
2370  2016             SV              NaN   3.0      4                NaN
2371  2016             SV              NaN   3.0      4                NaN
2372  2016             SV              NaN   3.0      4                NaN
2373  2016             SV              NaN   3.0      4                NaN
2374  2016             SV              NaN   3.0      4                NaN
2375  2016             SV              NaN   3.0      4                NaN
2376  2016             SV              NaN   3.0  #REF!                NaN
2377  2016             SV              NaN   3.0      5                NaN
2378  2016             SV              NaN   3.0      5                NaN
2379  2016             SV              NaN   3.0      5                NaN

[2380 rows x 6 columns]

In [12]:
df.week[df.week == np.nan]

Series([], Name: week, dtype: float64)