In [1]:
import pandas as pd
import seaborn as sns

In [2]:
DATASETS = 'datasets/sf-police-calls-for-service-and-incidents/'

In [3]:
# import datasets
og_accidents_df = pd.read_csv(DATASETS + 'police-department-incidents.csv')
og_calls_df = pd.read_csv(DATASETS + 'police-department-calls-for-service.csv')

In [4]:
og_calls_df.head(2)

,Crime Id,Original Crime Type Name,Report Date,Call Date,Offense Date,Call Time,Call Date Time,Disposition,Address,City,State,Agency Id,Address Type,Common Location
0,160942891,Muni Inspection,2016-04-03T00:00:00,2016-04-03T00:00:00,2016-04-03T00:00:00,18:15,2016-04-03T18:15:00,Not recorded,900 Block Of Ulloa St,San Francisco,CA,1,Common Location,"West Portal Muni, Sf"
1,160930487,913,2016-04-02T00:00:00,2016-04-02T00:00:00,2016-04-02T00:00:00,03:55,2016-04-02T03:55:00,HAN,Folsom St/13th St,San Francisco,CA,1,Intersection,NaN

In [6]:
og_accidents_df.head(2)

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,50436712,ASSAULT,BATTERY,Wednesday,2005-04-20T00:00:00,04:00,MISSION,NONE,18TH ST / CASTRO ST,-122.435003,37.760888,"{'latitude': '37.7608878061245', 'longitude': ...",5043671204134
1,80049078,LARCENY/THEFT,GRAND THEFT FROM A BUILDING,Sunday,2008-01-13T00:00:00,18:00,PARK,NONE,1100 Block of CLAYTON ST,-122.446838,37.762255,"{'latitude': '37.7622550270122', 'longitude': ...",8004907806304

# Questions
1. What are the most common crime types (pie chart)
1. throughout 24hrs, when are the call counts for each hour (historgram line chart)
1. throughout 24hrs, where are the most calls for each location at a given hour (heat map)
1.

In [56]:

# Drop Report Date
calls_df = og_calls_df.drop(columns=['Report Date'], errors='ignore')

# Rearange columns
calls_df = calls_df[['Crime Id', 'Original Crime Type Name', 'Call Date', 'Call Time', 'Call Date Time', 'Offense Date', 'Address', 'City', 'State', 'Address Type', 'Common Location', 'Disposition', 'Agency Id']]

# drop uncommon crimes that are 100 calls or less
hist_crime_types = calls_df['Original Crime Type Name'].value_counts()[::-1]
types_to_remove = []
for a_crime_type, count in hist_crime_types.iteritems():
    if count <= 100:
        types_to_remove.append(a_crime_type)
    else:
        break
        
indexes_to_drop = calls_df.loc[calls_df['Original Crime Type Name'].isin(types_to_remove)].index
calls_df = calls_df.drop(indexes_to_drop)

# Give codes a title
def refactor_codes(value):
    if value == "601":
        return "Trespasser (201)"
    elif value == "909":
        return "Interview a citizen (909)"
    elif value == "22500e":
        return "Vehicle blocking a (22500e)"

    return value
        
calls_df['Original Crime Type Name'] = calls_df['Original Crime Type Name'].apply(refactor_codes)

#601 Trespasser
#909 Interview a citizen
# 22500e Vehicle blocking a
# 22500  Illegal Parking



# Rename Columns
calls_df = calls_df.rename(columns={
    'Crime Id': 'crime_id',
    'Original Crime Type Name': 'original_crime_type_name',
    'Call Date': 'call_date',
    'Call Time': 'call_time',
    'Call Date Time': 'call_datetime',
    'Offense Date': 'offense_date',
    'Address': 'address',
    'City': 'city',
    'State': 'state',
    'Address Type': 'address_type',
    'Common Location': 'common_location',
    'Disposition': 'disposition',
    'Agency Id': 'agency_id',
})

In [57]:
calls_df.head(1)

,crime_id,original_crime_type_name,call_date,call_time,call_datetime,offense_date,address,city,state,address_type,common_location,disposition,agency_id
0,160942891,Muni Inspection,2016-04-03T00:00:00,18:15,2016-04-03T18:15:00,2016-04-03T00:00:00,900 Block Of Ulloa St,San Francisco,CA,Common Location,"West Portal Muni, Sf",Not recorded,1

In [58]:
# Wrangle accidents_df

# Findings

In [59]:
# Histogram of top 10 calls crime types
# pd.set_option('display.max_rows', 50)
calls_df.original_crime_type_name.value_counts().sort_values(ascending=False)[:100]#.plot(kind='pie')

Passing Call                   275506
Traffic Stop                   217064
Suspicious Person              109532
Homeless Complaint             105374
Vehicle blocking a (22500e)     79353
Muni Inspection                 71129
Audible Alarm                   60434
Well Being Check                50328
Suspicious Vehicle              49828
Fight No Weapon                 44184
Trespasser                      42839
Auto Boost / Strip              36779
Noise Nuisance                  36357
Mentally Disturbed              27713
Meet W/citizen                  27441
Poss                            27361
Traf Violation Cite             26301
Dw                              24893
Assault / Battery               24601
Petty Theft                     24350
22500f                          22518
Complaint Unkn                  20447
Burglary                        15107
Rep                             14864
Stolen Vehicle                  14812
                                ...
Stolen Property                  3478
Citizen Arrest                   3369
Physical                         3365
22500h                           3216
X                                3209
Person Breaking In               3201
Person W/gun                     3193
Ringing Doorbell                 3144
Family                           3125
Grand Theft                      3094
911                              3048
Male                             3018
Party                            3013
Susp                             2884
811                              2848
Panic Alarm                      2782
Person Down                      2749
Prowler                          2693
Att                              2554
917                              2454
7,2,27                           2353
Recover Missing Veh              2324
Silent Holdup Alarm              2254
Rtl                              2243
650                              2199
Name: original_crime_type_name, Length: 100, dtype: int64

In [24]:
# date range of this data
from datetime import datetime

oldest = calls_df.call_date.min()
latest = calls_df.call_date.max()

# format the date to look pretty here https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
print("Oldest date {}. Most recent date {}".format(oldest, latest))

Oldest date 2016-03-30T00:00:00. Most recent date 2018-10-06T00:00:00