In [1]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('titanic.csv')

In [6]:
type(df)

pandas.core.frame.DataFrame

In [10]:
cabin_series = df.Cabin

type(cabin_series)

pandas.core.series.Series

In [19]:
deck_list = list()
for a_cabin in cabin_series:
    if type(a_cabin) is str:
        deck_list.append(a_cabin[0])
    else:
        deck_list.append(np.nan)
        
deck_list

[nan,
 'C',
 nan,
 'C',
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'G',
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 'A',
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 'B',
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 'C',
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'A',
 'D',
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 'E',
 'D',
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 'C',
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'F',
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F',
 'B',
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'G',
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 'D',
 nan,
 nan,
 'G',
 'C',
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 'E',
 'B',
 nan,
 nan,
 nan,
 nan,
 'C',
 'C',
 nan,
 nan,
 nan,
 'C',
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 'D',
 nan,
 nan,
 nan,
 nan,
 'C',
 'C',
 'B',
 nan,
 nan,
 nan,
 'E',
 nan,
 'C',
 nan,
 'C',
 nan,
 'E',
 'C',
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 'D',
 nan,
 'B',
 nan,
 'C',
 'C',
 nan,
 nan,
 nan,
 'C',
 'E',
 nan,
 'T',
 'F',
 'C',
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 'B',
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 'D',
 'G',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 'C',
 nan,
 nan,
 nan,
 'E',
 'B',
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 'C',
 'C',
 nan,
 nan,
 'E',
 'D',
 nan,
 nan,
 'E',
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 'C',
 'B',
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 'D',
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 'D',
 'F',
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 'B',
 'B',
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 'A',
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 'E',
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'C',
 nan,
 'A',
 nan,
 'E',
 nan,
 'B',
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 'D',
 nan,
 'D',
 nan,
 nan,
 'A',
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 'D',
 nan,
 'A',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 'F',
 'C',
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 'C',
 'C',
 'C',
 nan,
 nan,
 'F',
 'C',
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 'D',
 'C',
 'B',
 nan,
 nan,
 'B',
 nan,
 nan,
 'D',
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 'B',
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'F',
 nan,
 nan,
 'B',
 nan,
 'B',
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 'E',
 nan,
 nan,
 nan,
 nan,
 'D',
 nan,
 nan,
 nan,
 nan,
 'A',
 nan,
 nan,
 nan,
 'D',
 'B',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'C',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'B',
 nan,
 'C',
 nan]

In [20]:
df['Deck'] = deck_list

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Deck
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN

In [26]:
df[(df.Deck == "A") | (df.Deck == "B") & (df.Survived == 1)].describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,50.000000,50.000000,50.0,46.000000,50.000000,50.000000,50.000000
mean,508.960000,0.840000,1.0,35.086957,0.340000,0.520000,104.869584
std,244.156353,0.370328,0.0,16.571496,0.557326,0.788696,105.476689
min,24.000000,0.000000,1.0,4.000000,0.000000,0.000000,0.000000
25%,303.000000,1.000000,1.0,22.500000,0.000000,0.000000,42.468750
50%,540.500000,1.000000,1.0,34.000000,0.000000,0.000000,75.100000
75%,721.000000,1.000000,1.0,44.000000,1.000000,1.000000,120.000000
max,888.000000,1.000000,1.0,80.000000,2.000000,2.000000,512.329200

In [46]:
df = df.dropna()

In [47]:
count_df = len(df)
count_df

183

In [48]:
survivors_df = df[df.Survived == 1]
len(survivors_df)

123

In [49]:
youngest_age = survivors_df.Age.min()
youngest_age

0.92

In [50]:
youngest_df = survivors_df.Age.sort_values()
youngest_df

305     0.92
183     1.00
340     2.00
193     3.00
445     4.00
618     4.00
10      4.00
751     6.00
802    11.00
435    14.00
689    15.00
329    16.00
504    16.00
853    16.00
307    17.00
550    17.00
781    17.00
700    18.00
585    18.00
311    18.00
887    19.00
291    19.00
136    19.00
742    21.00
627    21.00
356    22.00
539    22.00
151    22.00
97     23.00
88     23.00
       ...
779    43.00
523    44.00
194    44.00
871    47.00
556    48.00
460    48.00
712    48.00
862    48.00
645    48.00
453    49.00
599    49.00
52     49.00
796    49.00
299    50.00
857    51.00
765    51.00
591    52.00
820    52.00
449    52.00
571    53.00
496    54.00
647    56.00
879    56.00
195    58.00
268    58.00
11     58.00
587    60.00
366    60.00
275    63.00
630    80.00
Name: Age, Length: 123, dtype: float64